.Container {
  /* background: #ff9970; */
  background: whitesmoke;
  font-family: 'Comfortaa', cursive;
  height: 100vh;
}

.dailyCard {
  background: #fff077;
  border: 1px solid rgba(160, 160, 160, 0.5);
  border-radius: 10px;
  height: 90vh;
  padding: 10px;
}
